<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.grapplications.statussaver">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:name=".utils.StatusSaver"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WhatsCleaner"
            android:exported="true" />
        <activity
            android:name=".TextRepeaterActivity"
            android:screenOrientation="nosensor" />
        <activity android:name=".WhatsDirectActivity" />
        <activity
            android:name=".PermissionActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".SavedActivity"
            android:screenOrientation="nosensor" />
        <activity android:name=".ImageSliderActivity" />
        <activity android:name=".VideoSliderActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="nosensor"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Google AdMob -->
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713
        Real AdMob app ID: ca-app-pub-3689467985437081~4008477012 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>